.green {
    background-color: #0CD977;
    height: 20px;
}

.logo {
    height: 30px
}

.active {
    color: red;
}

.utente {
    background-color:rgb(209, 179, 179);
    border-radius: 10px;

}


.utente img {
    height: 100px;
    width: 100px;
}